@{
    ViewData["Title"] = "Index";
}
@model List<CategoryVM>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kategori Listesi</h3>
            </div>
            <div class="card-body">
                <div class="table table-responsive table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Kategori Adı</th>
                                <th>Durum</th>
                                <th>Eklenme Tarihi</th>
                                <th>Güncellenme Tarihi</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.Name</td>
                                    <td>@category.Status</td>
                                    <td>@category.CreatedDate</td>
                                    @if (category.UpdatedDate != null)
                                    {
                                        <td>@category.UpdatedDate</td>
                                    }
                                    else
                                    {
                                        <td> - </td>
                                    }
                                    <td>
                                        <a class="btn btn-outline-primary">Güncelle</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-danger">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a asp-controller="Categories" asp-action="CreateCategory" class="btn btn-outline-dark d-block">Yeni Kategori Ekle</a>
            </div>
        </div>
    </div>
</div>